html {
  height: 100%;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  padding-top: 70px;
  border: 0;
  margin: 0;
}
h2 {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
nav {
  font-family: 'Comfortaa', cursive;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  color: white;
  background: linear-gradient(to right, white, cyan);
  align-items: center;
}

ul li {
  list-style-type: none;
  display: inline;
  padding: 2em;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.subtitulo {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  padding-top: 0;
  border: 0;
  margin: 0;
}

.main {
  height: 500px;
  background: url("https://postovoy.net/uploads/images/00/00/06/2015/05/22/62ed21.jpg")center
    no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: 100%;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
}





